.popup__wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: #B3B3B3;
}

.popup__content {
    position: relative;
    background: #FFFFFF;
    border-radius: 30px;
    width: 552px;
    padding: 32px;
}

.popup__wrap.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__wrapCloseIcon {
    position: absolute;
    right: 4.9%;
}

.popup__closeIcon {
    cursor: url("/src/assets/icon/Pointer.svg"), pointer;
    width: 18px;
    height: 18px;
}

.popup__title {
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
    color: #000000;
}

.popup__descr {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #808080;
    margin: 16px 0 24px 0;
}

.popup__subtitle {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
}

.popup__salary {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #DFE3E6;
    border-radius: 3px;
    outline: none;
    margin: 8px 0;
    transition: all 200ms;
}

.popup__salary.error {
    border-color: #EA0029;
}

.popup__salary::placeholder {
    color: #BEC5CC;
}

.popup__salary:hover {
    border: 1px solid #000000;
}

.popup__salaryError {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #EA0029;
}

.popup__calculateButton {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #EA0029;
    transition: all 200ms;
    margin: 0 0 16px 0;
}

.popup__calculateButton:hover {
    color: #F53A31;
    cursor: url("/src/assets/icon/Pointer.svg"), pointer;
}

.popup__calculateButton:active {
    color: #EA0029;
}

.popup__payWrap {

}

.popup__payList {
    max-height: 227px;
    overflow: auto;
}

.popup__choiceWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 0 0;
}

.popup__choiceList {
    display: flex;
    flex-direction: row;
}

.popup__choiceList li:nth-child(1) {
    margin: 0 16px 0 32px;
}

.popup__addButton {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 16px 0;
    width: 100%;
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    box-shadow: 0 0 24px rgba(234, 0, 41, 0.33);
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    cursor: url("/src/assets/icon/Pointer.svg"), pointer;
    margin: 40px 0 0 0;
}

.popup__addButton:hover, .popup__addButton:active {
    background: #EA0029;
}

@media (max-width: 768px) {
    .popup__content {
        width: 453px;
    }
}

@media (max-width: 425px) {
    .popup__content {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        padding: 16px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .popup__title {
        font-size: 18px;
        line-height: 24px;
        margin: 16px 0 0 0;
    }

    .popup__descr {
        font-size: 12px;
        line-height: 16px;
    }

    .popup__choiceWrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .popup__choiceList {
        margin: 24px 0 0 0;
    }

    .popup__choiceList li:nth-child(1) {
        margin: 0 8px 0 0;
    }

    .popup__addButton {
        font-size: 12px;
        line-height: 16px;
        padding: 12px 0;
    }

    .popup__closeIcon {
        width: 12px;
        height: 12px;
    }

    .popup__wrapCloseIcon {
        right: 22px;
        top: 22px;
    }

    .popup__salary {
        padding: 7px 10px;
    }
}